<div class="container col-md-4"><br>

    <form [formGroup]="formPayment" (ngSubmit)="onSubmit()">

        <div class="form-group col-md-12">
            <label for="type">Type</label>
            <select class="custom-select" id="mType" formControlName="mType" (change)="getType()">

                <option value="1">Crédito</option>
                <option value="2">Débito</option>
                <option value="3">Voucher</option>

            </select>
        </div>

        <div class="form-group col-md-12" *ngIf="type == 1">
            <label for="installmentType">Installment Type</label>
            <select class="custom-select" id="mInstallmentType" formControlName="mInstallmentType"
                (change)="getInstallmentType()">

                <option value="1">À Vista (1x)</option>
                <option value="2">Parcelado Vendedor</option>
                <option value="3">Parcelado Comprador</option>

            </select>

            <!-- PARCELADO VENDEDOR -->
            <div *ngIf="installmentType == 2" class="row col-md-4">
                <label for="installmentType"><br>Installment</label>
                <select class="custom-select" id="mInstallment" formControlName="mInstallment">

                    <option value="2">2x</option>
                    <option value="3">3x</option>
                    <option value="4">4x</option>
                    <option value="5">5x</option>
                    <option value="6">6x</option>

                </select>
            </div>

            <!-- PARCELADO COMPRADOR -->
            <div *ngIf="installmentType == 3" class="row col-md-4">
                <label for="installmentType"><br>Installment</label>
                <select class="custom-select" id="mInstallment" formControlName="mInstallment">

                    <option value="2">2x</option>
                    <option value="3">3x</option>
                    <option value="4">4x</option>
                    <option value="5">5x</option>
                    <option value="6">6x</option>

                </select>
            </div>

        </div>

        <div class="form-group col-md-12">
            <label for="amount">Amount</label>
            <div class="input-group ">
                <div class="input-group-prepend">
                    <span class="input-group-text">R$</span>
                </div>
                <input mask="0,00" type="text" class="form-control" name="mAmount" id="mAmount"
                    formControlName="mAmount" required>
            </div>

        </div>

        <div class="form-group col-md-12">
            <label for="type">User Reference</label>
            <input type="text" class="form-control" name="mUserReference" id="mUserReference"
                formControlName="mUserReference" required>
        </div>

        <!-- valores fixos -->
        <div class="form-group col-md-12">
          <label for="companyOperate">Adquirente</label>
          <input type="text" class="form-control" name="companyOperate" id="companyOperate" formControlName="companyOperate"
            required>
        </div>

        <div class="form-group col-md-12">
          <label for="operation">Operação</label>
          <input type="text" class="form-control" name="operation" id="operation" formControlName="operation" required>
        </div>

        <div class="form-group col-md-12">
          <label for="userId">Id Usuário</label>
          <input type="text" class="form-control" name="userId" id="userId" formControlName="userId" required>
        </div>

        <div class="form-group col-md-12">
          <label for="messageType">Id Usuário</label>
          <input type="text" class="form-control" name="messageType" id="messageType" formControlName="messageType" required>
        </div>

        <div align="center">
            <input type="submit" class="btn btn-primary btn-lg btn-block"
                value="Enviar">
        </div><br>
    </form>
</div>
